<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
<connectionStrings><add name="LibraryManagementStudioEntities" connectionString="metadata=res://*/LibrarySystemDB.csdl|res://*/LibrarySystemDB.ssdl|res://*/LibrarySystemDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FCA3NE1\SQLEXPRESS02;initial catalog=LibraryManagementStudio;integrated security=True;multipleactiveresultsets=True;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>